torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
opencv-python-headless
fastapi
uvicorn
scikit-learn
numpy
jinja2
transformers
huggingface-hub
